
<nav class="navbar navbar-expand-lg bg-primary border-0 position-absolute start-0 end-0 mx-2 z-3" style="top: 20px;" data-bs-theme="dark">



	<div
		class="container-fluid">

		<!-- Logo centré -->
		<a class="navbar-brand mx-auto order-0" href="{{ path('app_home') }}">
			<img src="{{ asset('assets/img/logo-agroway.svg') }}" style="height:30px;">
		</a>

		<!-- Burger menu -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- MENU -->
		<div class="collapse navbar-collapse order-1" id="navbarColor01">

			<ul class="navbar-nav mx-auto gap-3">

				<li class="nav-item">
					<a class="nav-link text-white" href="#">Accueil</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-white" href="#">Catalogue</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-white" href="#">Promotions</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-white" href="#">Nouveautés</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-white" href="#">Événements</a>
				</li>

				<li class="nav-item">
					<a class="nav-link text-white" href="#">Contact</a>
				</li>

			</ul>

		</div>
	</div>
</nav>

