{% extends 'base.html.twig' %}

{% block title %}Hello NouveautesController!{% endblock %}

{% block body %}
<section class="nouveautes-section py-5">

	<div
		class="container mt-5">

		<!-- 🌟 En-tête premium -->
		<div class="text-center my-5">
			

		
		</div>





	</div>

</section>
<!-- 🌈 Contenu (produits inclus ici) -->
{{ include('_partials/_news/_news.html.twig') }}
{{ include('_partials/_categories_home_page/_categories_home_page.html.twig') }}
{{ include('_partials/_socials/_socials.html.twig') }}


{% endblock %}
